@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Bold"),
    local("OpenSans-Bold"),
    url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}

html {
  font-size: 1.205vmax;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

.headline {
  height: 22.4rem;
  width: 100%;
  box-sizing: border-box;
  background-image: url(../images/banner-bg.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 2.08rem;
}

.headline::before {
  content: "";
  background-color: black;
  position: absolute;
  inset: 0;
  opacity: 0.6;
}

.headline::after {
  content: "";
  position: absolute;
  left: 14.94%;
  top: 6.47%;
  height: 9.15%;
  width: 10.78%;
  background-image: url(../icons/noemi-logo.svg);
  background-repeat: no-repeat;
}

.headline__menu {
  position: relative;
  margin-bottom: 6.93%;
}

.interactive-element {
  padding: 0;
  border: 0;
  height: 2.4rem;
}

.button-element {
  background-color: #b59f5b;

  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.button-hover:hover {
  background-color: #323232;
  cursor: pointer;
}

.headline_menu__list {
  display: flex;
  margin: 0;
  padding: 0 14.7% 0 57.35%;
  justify-content: space-between;
  list-style-type: none;
}

.headline_menu__title {
  display: block;
  color: white;
  font-size: 0.65rem;
  text-transform: uppercase;
  text-decoration: none;
}

.headline_menu__title:hover {
  text-decoration-line: underline;
}

.headline__title {
  margin: 0;
  width: 45%;
  position: relative;
  margin: 0 auto;

  color: white;
  font-size: 2.25rem;

  text-align: center;
  line-height: 3.75rem;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__trends {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3.55%;
  margin-bottom: 3.85%;
}

.content-titles {
  margin: 0;
  /* margin-bottom: 2.05rem; */
  margin-bottom: 2.25rem;

  text-align: center;

  font-size: 1rem;
  line-height: 0.7rem;
  position: relative;
  text-transform: uppercase;
}

.content-titles::after {
  content: "";
  position: absolute;
  background-color: #e1d9bd;
  height: 0.15rem;
  width: 3.3rem;
  bottom: -0.85rem;
  left: calc(50% - 3.4rem/2);
}

.content_trends__box {
  display: flex;
  justify-content: space-between;
  height: 15.95rem;

}

.content_trends__item {
  width: 24.7%;
  position: relative;
  background: black;
}

.trends_item__image {
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.trends_item__content {
  display: flex;
  flex-direction: column;
  position: absolute;

  border: 0.15rem solid #b59f5b;
  padding: 8.54% 8.54% 8.05%;

  right: 4.88%;
  left: 4.88%;
  bottom: 5.01%;
}

.trend_content__tags {
  display: flex;

  margin: 0 0 0.3rem 0;
  padding: 0;

  list-style-type: none;
}

.tag-style {
  display: block;
  margin: 0;
  margin-right: 1rem;

  color: #b59f5b;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.tag-style:hover {
  text-decoration: underline;
}

.trend_content__header {
  font-size: 0;
  line-height: 0;
}

.trend_header__title {
  display: inline;
  margin: 0;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  line-height: 1.2rem;
}

.title-active-style:hover {
  color: #b59f5b;
  cursor: pointer;
}

.content__main {
  display: flex;
  flex-direction: column;
  width: 70.48%;
}

.content_main__posts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
  align-items: flex-start;
}

.main_posts__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 66.24%;
}

.main_posts__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.95rem;
}

.main_posts__item:last-child {
  margin-bottom: 0;
}

.posts_item__image {
  height: 14.7rem;
  width: 19.05rem;
}

.posts_item__content {
  display: flex;
  flex-direction: column;
  width: 47.1%;

  font-size: 0.75rem;
}

.post_headline__tags {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 0.325rem;

  list-style-type: none;
}

.post_headline__title {
  margin: 0;
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
  line-height: 1.2rem;
  margin-bottom: 1.4rem;
}

.post_headline__remark {
  display: flex;
  margin-bottom: 2.3rem;
}

.post_remark__date {
  color: #888888;
  margin-right: 0.65rem;
  font-size: 0.6rem;
}

.post_remark__author {
  font-weight: bold;
  font-size: 0.6rem;
}

.post_content__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.post_content__text p {
  margin: 0;
  margin-bottom: 0.42rem;
}

.post_content__text p:last-child {
  margin: 0;
}





.main_posts__sidebar {
  display: flex;
  flex-direction: column;
  width: 23.16%;
  gap: 3.1rem;
}

.sidebar-titles {
  margin: 0;
  text-align: center;

  line-height: 0.5rem;
  font-size: 0.7rem;
  position: relative;
  text-transform: uppercase;
}

.sidebar-titles::after {
  content: "";
  position: absolute;
  background-color: #e1d9bd;
  height: 0.15rem;
  width: 3.3rem;
  bottom: -0.7rem;
  left: calc(50% - 3.4rem/2);
}

.sidebar_last-posts__title {
  margin-bottom: 2.3rem;
}

.sidebar_last-posts__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.sidebar_last-posts__item {
  display: flex;
  margin-bottom: 1.1rem;
}

.sidebar_last-posts__item:last-child {
  margin: 0;
}

.sidebar_last-post__image {
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
}

.sidebar_last-post__headline {
  display: flex;
  flex-direction: column;
  width: 66.78%;
  margin-left: auto;
}

.last-post_headline__title {
  margin: 0;

  font-size: 0.7rem;
  line-height: 0.9rem;
  text-transform: uppercase;
}

.last-post_headline__date {
  margin-bottom: 0.2rem;

  line-height: 0.5rem;
  color: #888888;
  font-size: 0.6rem;
}

.sidebar_last-posts__search {
  display: flex;
}

.sidebar_last-posts__input {
  width: 81.91%;
  padding-left: 0.95rem;

  font-size: 0.65rem;
  line-height: 0.5rem;

  background-color: #f4f7f6;
}

.sidebar_last-posts__input:focus {
  outline: 0.05rem solid #b59f5b;
}

.sidebar_last-posts__button {
  display: flex;
  position: relative;
  width: 2.4rem;

  background-color: #b59f5b;
}

.sidebar_last-posts__button::before {
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  margin: auto;
  background-image: url(../icons/search.svg);
}

.sidebar_mailing__title {
  margin-bottom: 2rem;
}

.sidebar_mailing__box {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

.sidebar_mailing__input {
  padding-left: 0.95rem;

  font-size: 0.65rem;
  line-height: 0.5rem;

  background-color: #f4f7f6;
}

.sidebar_mailing__input:focus {
  outline: 0.05rem solid #b59f5b;
}

.sidebar_tags__title {
  margin-bottom: 2.05rem;
}

.sidebar_tags__box {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 0.3rem;

  list-style-type: none;
  font-size: 0;
}

.sidebar_box__tag {
  display: flex;
  border: .15rem solid #eeeeee;
  padding: 0.175rem 0.63rem;

  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar_box__tag:hover {
  border: .15rem solid #b59f5b;
  cursor: pointer;
}

.sidebar_categories__title {
  margin-bottom: 2.25rem;
}

.sidebar_categories__box {
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
  padding: 0;

  font-size: 0;
  list-style-type: none;
}

.sidebar_categories__item {
  height: 1.36rem;
  border-bottom: 0.05rem solid #eeeeee;

  font-size: 0.7rem;
  line-height: 0.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.sidebar_categories__item:hover {
  color: #b59f5b;
  cursor: pointer;
}

.sidebar_categories__item sup {
  position: relative;
  top: 0.1em;

  color: #b59f5b;
  font-size: 0.6rem;
  line-height: 0;
}

.content_main__products {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.main_products__box {
  display: flex;
  justify-content: space-between;
}

.main_products__item {
  display: flex;
  flex-direction: column;
  width: 29.66%;
  align-items: center;
  position: relative;
}

.product__image {
  width: 15rem;
  height: 10.2rem;
}

.product__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  position: relative;
  flex-grow: 1;

  border: 0.181vmax solid #b59f5b;
  padding: 2.75rem 1.05rem 1.25rem;
  top: -1.6rem;
}

.product_content__title {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.product_content__text {
  font-size: 0.75rem;
  margin-bottom: 1.2rem;
}

.product_content__text p {
  margin: 0;
  color: #0f0d0e;
}

.product_content__text a {
  text-decoration: none;
  color: #b59f5b;
}

.product_content__text a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.product_content__price-box {
  display: flex;
}

.product_price-box__prices {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.price-box_prices__old-price {
  font-size: 0.7rem;
  position: relative;
  line-height: 1rem;
}

.price-box_prices__old-price::after {
  content: "";
  position: absolute;
  height: 0.05rem;
  width: 100%;
  background-color: black;
  bottom: 41%;
  left: 0%;
}

.price-box_prices__new-price {
  font-size: 1rem;
  line-height: 1rem;
}

.currency-ruble {
  position: relative;
}

.currency-ruble::after {
  content: "";
  position: absolute;
  height: 7%;
  width: 65%;
  bottom: 28%;
  left: 17%;
  background-color: black;
}

.product_price-box__button {
  display: block;
  text-align: center;
  align-content: center;
  width: 7rem;
  margin-left: auto;

  text-decoration: none;
}

.info {
  padding-bottom: 2.2rem;
}

.info__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.1rem;
  width: 70.48%;
  margin: 0 auto;
  margin-bottom: 3.7rem;

  background-color: #f4f7f6;
}

.info_contacts__box {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  width: 18.29%;
}

.contacts_item__link {
  display: block;
  width: 1.05rem;
  height: 1.05rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-twitter {
  background-image: url(../icons/004-twitter.svg);
}

.icon-pinterest {
  background-image: url(../icons/001-pinterest.svg);
}

.icon-facebook {
  background-image: url(../icons/002-facebook-logo.svg);
}

.icon-instagram {
  background-image: url(../icons/005-instagram.svg);
}

.icon-tumblr {
  background-image: url(../icons/003-tumblr.svg);
}

.info__copyright {
  display: block;

  text-align: center;
  color: #999;
  font-weight: bold;
  font-size: 0.6rem;
}

.forms__background {
  content: "";
  position: fixed;
  inset: 0;

  background-color: #000;
  opacity: 0.6;
}

.forms__feedback {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  content: "";
  position: fixed;
  width: 19.5rem;
  height: 29.4rem;
  top: calc(50% - 29.4rem/2);
  left: calc(50% - 19.5rem/2);
  padding: 2.7rem 1.5rem;

  background-color: #fff;
}

.forms_feedback__button-close {
  height: 0.85rem;
  width: 0.85rem;
  position: absolute;
  right: 0;
  top: -1.3rem;

  background-image: url(../icons/form-x.svg);
}

.forms_feedback__button-close:hover {
  cursor: pointer;
}

.feedback__title {
  margin-bottom: 2.3rem;
}

.feedback__frequency,
.feedback__subscription,
.feedback__area {
  display: flex;
  flex-direction: column;
}

.feedback__frequency {
  margin-bottom: 1.65rem;
}

.feedback__subscription {
  margin-bottom: 1.65rem;
}

.feedback_subscription_box-button {
  display: flex;
}

.forms__label {
  font-size: 0.65rem;
}

.feedback_frequency__label {
  line-height: 0.5rem;
  margin-bottom: 0.55rem;
}

.feedback_frequency__select {
  content: "";
  padding-left: 1rem;

  background-color: #f4f7f6;
  /* outline: none; */

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../icons/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 0.4rem 0.85rem;
  background-position: right 0.7rem center;

  font-size: 0.65rem;
  color: #9a9a9a;
}

.feedback_frequency__select:focus {
  outline: 0.05rem solid #b59f5b;
}

.feedback_subscription__text,
.feedback_subscription__lebel-text {
  margin: 0;
  font-size: 0.65rem;
  line-height: 0.5rem;
  margin-bottom: 0.55rem;
}

.feedback_subscription__label-left {
  margin-right: 0.85rem;
}

.feedback__radio {
  display: none;
}

.feedback_subscription__lebel-text::before {
  content: "";
  display: inline-block;

  width: 0.85rem;
  height: 0.85rem;
  margin-right: 0.25rem;
  vertical-align: middle;

  background-image: url(../icons/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feedback__radio:checked+.feedback_subscription__lebel-text::before {
  background-image: url(../icons/form-circle.svg);
}

.feedback_area__label {
  line-height: 0.65rem;
  margin-bottom: 0.55rem;
}

.feedback_area__text {
  padding: 1.05rem 1.1rem;
  margin-bottom: 1.3rem;
  box-sizing: border-box;
  height: 6.55rem;
  border: none;

  font-family: inherit;
  font-size: 0.65rem;
  line-height: 0.65rem;

  background-color: #f4f7f6;
}

.feedback_area__text {
  outline: 0.05rem solid #b59f5b;
}

.button-hover:hover {
  background-color: #323232;
  cursor: pointer;
}

.remove-element {
  display: none;
}

.hidden-element {
  visibility: hidden;
}